fastapi
uvicorn
transformers==4.53.1
torch==2.7.1
tensorflow==2.19.0
datasets==2.19.0
requests
chardet
sentencepiece
scikit-learn
pandas==2.2.3
numpy
pydantic
scipy
tqdm
flask
flask-cors
flask-restful
flask-sqlalchemy
flask-migrate
flask-login

